.modal {
    position: fixed;
    top: 20vh;
    left: 40vw;
    width: 30vw;
    height: 15vw;
    background: white;
    box-shadow: 2px 2px 2px rgba(0, 85, 255, 0.087);
    border-radius: 4px;
    padding: 4px;

}

.modal-content {
    padding: 30px;
    margin: 10px;
    text-align: center;
}